* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#outer-container {
  background: linear-gradient(
    180deg,
    rgba(21, 162, 10, 1) 0%,
    rgba(20, 156, 9, 1) 0%
  );
  border: 1px solid black;
  box-sizing: border-box;
  display: grid;
  gap: 5px;
  grid-template: 3rem repeat(3, 1fr) / repeat(13, 1fr);
  grid-template-areas:
    ". . . . . game game game . . . . game-control"
    ". . dealer dealer dealer dealer dealer dealer dealer dealer dealer. ."
    "bot-1 bot-1 bot-1 bot-1 bot-1 bot-1 stat bot-2 bot-2 bot-2 bot-2 bot-2 bot-2"
    ". . player player player player player player player player player . .";
  height: 100vh;
  margin: 0;
  padding: 0 1rem;
  width: 100vw;
}

.inner-container {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  max-height: calc((100vh - 3rem) / 3);
}

#game {
  border: 0;
  grid-area: game;
  display: flex;
  flex-flow: column nowrap;
}

#dealer-id {
  grid-area: dealer;
}

#left-bot {
  grid-area: bot-1;
}

#cheat {
  grid-area: stat;
}

#right-bot {
  grid-area: bot-2;
}

#player-id {
  grid-area: player;
}

.hidden {
  display: none;
}

.in-game-buttons {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  margin: 5rem 1rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

img {
  height: 150px;
  width: 108.75px;
  padding: 5px;
}

#middle-button {
  grid-area: stat;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

#icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  grid-area: game-control;
}

#icons img {
  height: 40px;
  width: 40px;
  padding: 5px;
}

.list {
  padding-left: 25px;
}

.active-player {
  background: linear-gradient(
    94deg,
    rgba(255, 253, 90, 0.5) 0%,
    rgba(228, 255, 0, 0.5) 100%
  );
  border: 3px solid black;
}

.player-button {
  margin: 2rem 1rem;
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.closeModalBtn {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

#info,
#stop {
  border-radius: 100%;
}

#info:hover,
#stop:hover {
  background: linear-gradient(
    94deg,
    rgba(255, 253, 90, 0.5) 0%,
    rgba(228, 255, 0, 0.5) 100%
  );
}

@media only screen and (max-width: 768px) {
  .inner-container {
    font-size: 1rem;
  }
  img {
    height: 100px;
    width: 72.5px;
    padding: 5px;
  }
  #icons img {
    height: 35px;
    width: 35px;
    padding: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .inner-container {
    font-size: 0.5rem;
  }
  .in-game-buttons {
    font-size: 0.75rem;
    font-weight: 600;
    margin: 0;
  }
  img {
    height: 85px;
    width: 61.625px;
    padding: 5px;
  }
  #outer-container {
    grid-template: 3rem repeat(7, 1fr) / repeat(12, 1fr);
    grid-template-areas:
      ". . game game game game game game game game game-control game-control"
      "dealer dealer dealer dealer dealer dealer bot-2 bot-2 bot-2 bot-2 bot-2 bot-2"
      "dealer dealer dealer dealer dealer dealer bot-2 bot-2 bot-2 bot-2 bot-2 bot-2"
      "dealer dealer dealer dealer dealer dealer bot-2 bot-2 bot-2 bot-2 bot-2 bot-2"
      "bot-1 bot-1 bot-1 bot-1 bot-1 bot-1 player player player player player player"
      "bot-1 bot-1 bot-1 bot-1 bot-1 bot-1 player player player player player player"
      "bot-1 bot-1 bot-1 bot-1 bot-1 bot-1 player player player player player player"
      "stat stat stat stat stat stat stat stat stat stat stat stat";
  }
  #icons img {
    height: 25px;
    width: 25px;
    padding: 5px;
  }
}

@media only screen and (max-width: 426px) {
  .inner-container {
    font-size: 0.5rem;
  }
  .in-game-buttons {
    font-size: 0.75rem;
    font-weight: 600;
    margin: 0;
  }
  img {
    height: 70px;
    width: 50.75px;
    padding: 5px;
  }
  #outer-container {
    grid-template: 3rem repeat(7, 1fr) / repeat(12, 1fr);
    grid-template-areas:
      ". . game game game game game game game game game-control game-control"
      "dealer dealer dealer dealer dealer dealer bot-2 bot-2 bot-2 bot-2 bot-2 bot-2"
      "dealer dealer dealer dealer dealer dealer bot-2 bot-2 bot-2 bot-2 bot-2 bot-2"
      "dealer dealer dealer dealer dealer dealer bot-2 bot-2 bot-2 bot-2 bot-2 bot-2"
      "bot-1 bot-1 bot-1 bot-1 bot-1 bot-1 player player player player player player"
      "bot-1 bot-1 bot-1 bot-1 bot-1 bot-1 player player player player player player"
      "bot-1 bot-1 bot-1 bot-1 bot-1 bot-1 player player player player player player"
      "stat stat stat stat stat stat stat stat stat stat stat stat";
  }
  #icons img {
    height: 25px;
    width: 25px;
    padding: 5px;
  }
  #instructions {
    overflow: scroll;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 376px) {
  .inner-container {
    flex-flow: column nowrap;
    font-size: 0.5rem;
  }
  .in-game-buttons {
    font-size: 0.75rem;
    font-weight: 600;
    margin: 0;
  }
  img {
    height: 60px;
    width: 43.5px;
    padding: 5px;
  }
  #outer-container {
    grid-template: 3rem repeat(7, 1fr) / repeat(12, 1fr);
    grid-template-areas:
      ". . game game game game game game game game game-control game-control"
      "dealer dealer dealer dealer dealer dealer bot-2 bot-2 bot-2 bot-2 bot-2 bot-2"
      "dealer dealer dealer dealer dealer dealer bot-2 bot-2 bot-2 bot-2 bot-2 bot-2"
      "dealer dealer dealer dealer dealer dealer bot-2 bot-2 bot-2 bot-2 bot-2 bot-2"
      "bot-1 bot-1 bot-1 bot-1 bot-1 bot-1 player player player player player player"
      "bot-1 bot-1 bot-1 bot-1 bot-1 bot-1 player player player player player player"
      "bot-1 bot-1 bot-1 bot-1 bot-1 bot-1 player player player player player player"
      "stat stat stat stat stat stat stat stat stat stat stat stat";
  }
  #icons img {
    height: 25px;
    width: 25px;
    padding: 5px;
  }
  #instructions {
    overflow: scroll;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 320px) {
  .inner-container {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1rem;
  }
  .in-game-buttons {
    font-size: 0.75rem;
    font-weight: 600;
    margin: 0;
    padding: 0.5rem 1.4rem;
  }
  img {
    display: none;
  }
  h2,
  h1 {
    font-size: 1rem;
    margin: 0;
  }
  #outer-container {
    grid-template: 3rem repeat(3, 1fr) / repeat(12, 1fr);
    grid-template-areas:
      ". . . game game game game game game game-control game-control game-control"
      "dealer dealer dealer dealer dealer dealer bot-2 bot-2 bot-2 bot-2 bot-2 bot-2"
      "bot-1 bot-1 bot-1 bot-1 bot-1 bot-1 player player player player player player"
      "stat stat stat stat stat stat stat stat stat stat stat stat";
  }
  #icons img {
    display: inline;
    height: 25px;
    width: 25px;
    padding: 5px;
  }
  #instructions {
    overflow: scroll;
    font-size: 0.8rem;
  }
}
